<!DOCTYPE html>
<html>
  <head>
    <title>Mocha</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mocha.css" />
    <script type="text/javascript" src="../underscore/underscore-min.js"></script>

    <script type="text/html" id="template1">
	'<li> <span class = "<%= token.type %>"> <%= match %> </span>\n'
    </script>

  </head>
  <body>
    <div id="mocha"></div>

    <table class="output" id="tabla_resultados"></table>
    
    <script src="chai.js"></script>
    <script src="mocha.js"></script>
    <script src="../ini.js"></script>
    <script>mocha.setup('tdd')</script>
    <script src="tests.js"></script>

    <script>
      mocha.run();
    </script>
  </body>
</html>


